table, th, td {
  border: 1px solid #080505;
  border-collapse: collapse;
}

body{
    background-image:url(../IMG/banner.jpg);
    background-size: 100% 100%;
    background-attachment: fixed; 

    } 

banner{
    width: 1400;
    height: 400px;
}